.about {
  padding: 140px 0;
  &__inner {
    position: relative;
  }
  .social-about {
    &__list {
      display: flex;
      flex-direction: column;
    }
  }
  &__heading {
    max-width: 800px;
  }
  &__text {
    font-size: 21px;
    color: $color-grey-text;
    margin-top: 12px;
  }
  &__lawyer {
    margin-top: 50px;
    button {
      text-transform: uppercase;
    }
  }
  &__btn_lawyer {
    padding-left: 66px;
    padding-right: 70px;
  }
  &__bg {
    @include absolute;
    bottom: -39%;
    right: -19%;
    z-index: -1;
  }
}
