.questions {
  background: url("./../../images/questions/bg.jpg") no-repeat center right;
  opacity: 0.9;
  background-color: #1d3b5d;
  &__content {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 87px 0 64px;
    margin-bottom: 130px;
  }
  &__heading {
    max-width: 730px;
    color: $color-white-default;
  }
  &__title {
    text-transform: uppercase;
    font-size: 41px;
    color: inherit;
    & b {
      font-size: 25px;
      line-height: 166%;
    }
  }
  &__text {
    font-family: "AvenirNextCyr";
    font-weight: normal;
    margin-top: 15px;
    font-size: 15px;
    line-height: 133%;
  }
  &__consultation {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: 0;
  }
  .form {
    right: 764px;
  }
}
