.request {
  background: url("./../../images/request/bg.jpg") no-repeat center left;
  opacity: 0.9;
  background-color: #1d3b5d;
  &__content {
    position: relative;
    padding: 87px 0 64px;
    margin-bottom: 70px;
  }
  &__heading {
    color: $color-white-default;
    max-width: 730px;
  }
  &__title {
    text-transform: uppercase;
    font-size: 41px;
    color: $color-white-default;
    & b {
      font-size: 25px;
      line-height: 166%;
    }
  }
  &__text {
    font-family: 'AvenirNextCyr';
    font-weight: normal;
    margin-top: 15px;
    font-size: 15px;
    line-height: 133%;
  }
  &__consultation {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: 0;
  }
}
