$font-size: 35px;
$font-weight: bold;
$l-height: 3px;
$rotate: 45deg;
$transition-time: 0.4s;
$translateX: 0;

.switch {
  position: relative;
  font-size: $font-size;
  font-weight: $font-weight;
  transition: $transition-time;
  &.active {
    transform: rotate($rotate);
    & > div {
      color: $color-blue;
    }
  }
}
